<p class="h2">Edit</p>
<div>
  <div class="form-group">
    <label class="col-form-label">Name:</label>
    <input type="text" class="form-control"  [(ngModel)]="viewModel.name">
  </div>
  <div class="form-group">
    <label>Surname:</label>
    <input type="text" class="form-control" [(ngModel)]="viewModel.surname">
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="editStudent()" routerLink="/students">
        Save
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/students">Cancel</button>
    </div>
  </div>
</div>

